
.first{
    height: 180px;
    width: auto;
    background-color: orange;
    margin-top: 40px;
}

.second{
    height: 30px;
    width: 190px;
    background-color: orange;
    margin-left: 700px;
    padding-top: 40px;
    
 }


.c{
    display: flex;
    margin-top: 50px;
}

.d{
    display: flex;
    flex-direction: column;
}

img{
    height: 320px;
    width: 300px;
    margin-left: 6px;
    margin-top: 10px;
    margin-right: 60px;
}

button{
    width: 150px;
    height: 35px;
    background-color: orangered;
    color: whitesmoke;
    margin-bottom: 10px;
}

h1{
    color: blue;
}

.a{
    display: flex;
    flex-direction: row;
}
.b{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}

.h11{
    margin-left:380px ;
}

.home5{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.b1{
    width: 80px;
    height: 25px;
}

h3{
    padding-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 34px;
}

@media screen and (max-width:800px){
    .a{
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .home1{
        display: flex;
        flex-direction: column;
    }
    .home4{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .a{
        justify-content: center;
    }
}