*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color:rgb(171, 225, 10);
    height: 105px;
    color: rgb(211, 18, 31);
    text-align: center;
}
.bg-white{
    background-color: rgb(41, 154, 211);
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 13px;
}
.bg-white p{
    text-align: center;
}
option{
    padding: 5px;
}
input[type="email"]{
    padding: 5px;
    margin-top: 3px;
}
.News-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.btn{
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.news{
    display: flex;
    justify-content: space-between;
}

.news .image{
    width: 60%;
    padding: 20px;
}

img{
    transition: box-shadow 0.3s ease-in-out;
}

img:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease-in-out;
}


.blog-link{
    padding: 10px;
    background-color: rgb(204, 33, 45);
    color: #ffffff;
    border-radius: 4px;
    border: none;
    text-align: center;
    display: inline-block; 
    box-shadow: 1px rgb(217, 13, 77);
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.blog-link:hover {
    background-color: rgb(19, 244, 37);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}
h2{
    padding-top: 20px;
    color: rgb(241, 85, 13);
}

.information .Author{
    padding-top: 20px;
    text-align: justify;
}

p{
    padding-top: 10px;
    text-align: justify;
}
.text{
    padding-top: 20px;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .news{
        display:block;
    }
    .News-head {
        display: block;
        padding: 5px;
    }
  }
  
  /* Styles for screens larger than 768 pixels */
  @media screen and (max-width: 1477px) {
    .news{
        display:block;
    }
  }